# Exclude everything, then re-include only what the collector image needs
*
!config.yaml
!ingest_utils
ingest_utils/confluence_processor/confluence_downloads
ingest_utils/confluence_processor/google_drive_downloads
ingest_utils/confluence_processor/service-credentials.json
ingest_utils/confluence_processor/names.env*
**/__pycache__
**/*.pyc