*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

config.yaml

# Ignore service account credentials and environment variable files
**/service-credentials.json
**/names.env
.env

# Ignore Claude AI files
.claude

planning-docs/