opensearch-py==3.2.0
boto3==1.43.107
requests-aws4auth==1.3.2
pyyaml==6.0.3
requests==2.34.2
aws-cdk-lib==2.272.0
constructs>=10.8.1,<11.0.0
beautifulsoup4==4.15.0
python-dotenv==1.2.4
pandas>=3.0.6
pyarrow>=25.0.1
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
atlassian-python-api
types-PyYAML
pymediainfo
requests
